<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= product.title %></title>
</head>
<body>
    <h1><%= product.title %></h1>
    <img src="/<%= product.imageUrl %>" alt=""><br>
    posted By: <%= product.postedBy.name %> <br>
    <% if(canEdit){ %>
        <a href="/edit-product/<%= product._id %>">Edit</a>
        <a href="/delete-product/<%= product._id %>">Delete</a>
    <%}%>
</body>
</html>