<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
    <ul>
        <% if(products.length>0){
            for(let product of products){ %>
                <li>
                    <h3><%= product.title %></h3>
                    <img src="<%= product.imageUrl %>" alt=""><br>
                    posted By: <%= product.postedBy.name %> <br>
                    <a href="/product/<%= product._id %>">Details</a>
                    <!-- <a href="/edit-product/<%= product._id %>">Edit</a> -->
                </li>
            <%}
        } %>
    </ul>
</body>
</html>